{% block head %}
    {% include 'home/head.html.twig' %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">google.charts.load('current', {'packages':['corechart', 'geochart']});
            google.charts.setOnLoadCallback(function() {
                drawChart();
                ispChart();
            });

            function drawChart() {
                let data = google.visualization.arrayToDataTable([
                    ['timestamp', 'Download Mb', 'Upload Mb'],
                    {% for row in data %}
                    ['{{ row.timestamp }}', {{ row.download_bytes }}, {{ row.upload_bytes }}],
                    {% endfor %}
                ]);

                let options = {
                    curveType: 'function',
                    legend: { position: 'bottom' },
                    lineWidth: 3,
                    pointSize: 5,
                    backgroundColor: 'transparent',
                    hAxis: {
                        textPosition: 'none',
                        gridlines: {
                            color: 'transparent'
                        }
                    },
                };

                let chart = new google.visualization.LineChart(document.getElementById('downloads_chart'));
                chart.draw(data, options);
            }

            function ispChart() {
                let data = google.visualization.arrayToDataTable([
                    ['Internet Service Provider', 'Popularity'],
                    {% for rows in ispData %}
                    ['{{ rows.isp }}', {{ rows.number_of_isps }}],
                    {% endfor %}
                ]);

                let options = {
                    pieHole: 0.4,
                    is3D: true,
                    backgroundColor: 'transparent',
                    legend: 'top',
                };

                let chart = new google.visualization.PieChart(document.getElementById('isp_chart'));
                chart.draw(data, options);
            }
        </script>
{% endblock %}
{% block body %}
    <body>
    <main>
        <div class="container mx-auto max-w-8xl mb-20 md:p-10">
            <section class="grid gap-6 grid-cols-1 text-white md:grid-cols-4 md:grid-rows-2">
                <!--Box 1-->
                <div class="relative bg-blue-600 p-10 h-64 rounded-xl transition duration-300 ease-out hover:ease-in md:col-span-2 shadow-2xl hover:scale-105">
                    <div class="flex z-10 space-x-4">
                        <h1 class=" text-4xl text-black">Download(Mb)</h1>
                    </div>
                    <p class="mt-6 text-2xl">
                        Max: {{ maxValues[0] }}
                    </p>
                    <p class="text-2xl">
                        Min: {{ minValues[0] }}
                    </p>
                    <p class="absolute bottom-0 right-0 md:translate-y-4 md:translate-x-4 text-black text-8xl bg-gray-100 rounded-xl">
                        {{ averages[0] }}
                    </p>
                </div>
                <!--Box 2-->
                <div class="relative bg-green-500 p-10 h-64 rounded-xl md:col-span-2 shadow-2xl transition duration-300 ease-out hover:scale-105">
                    <div class="flex z-10 space-x-4">
                        <h1 class="text-4xl text-black">Upload(Mb)</h1>
                    </div>
                    <p class="mt-6 text-2xl">
                        Max: {{ maxValues[1] }}
                    </p>
                    <p class="text-2xl">
                        Min: {{ minValues[1] }}
                    </p>
                    <p class="absolute bottom-0 right-0 md:translate-y-4 md:translate-x-4 text-black text-8xl bg-gray-100 rounded-xl">
                        {{ averages[1] }}
                    </p>
                </div>
                <!--Box 3-->
                <div class="relative p-10 rounded-xl h-64 bg-red-600 shadow-2xl md:col-span-1 transition duration-300 ease-out hover:scale-105">
                    <div class="flex z-10 space-x-4">
                        <h1 class="text-2xl">Ping Latency (Milliseconds)</h1>
                    </div>
                    <p class="mt-6 text-xl">
                        Max: {{ maxValues[2] }}
                    </p>
                    <p class="text-xl">
                        Min: {{ minValues[2] }}
                    </p>
                    <p class="absolute bottom-0 right-0 md:translate-y-4 md:translate-x-4 text-black text-6xl bg-gray-100 rounded-xl">
                        {{ averages[2] }}
                    </p>
                </div>
                <!--Box 4-->
                <div class="relative p-10 rounded-xl h-64 bg-black shadow-2xl md:col-span-2 transition duration-300 ease-out hover:scale-105">
                    <div class="flex z-10 space-x-4">
                        <h1 class="text-2xl">Top Server Names</h1>
                    </div>
                    <p class="mt-6 text-xl">
                        {{ serverName[1]['server_name'] }}
                    </p>
                    <p class="text-xl">
                        {{ serverName[2]['server_name'] }}
                    </p>
                    <p class="text-xl">
                        {{ serverName[3]['server_name'] }}
                    </p>
                    <p class="absolute bottom-0 right-0 md:translate-y-4 md:translate-x-4 text-black text-6xl bg-gray-100 rounded-xl">
                        {{ serverName[0]['server_name']|slice(0, 15) }}
                    </p>
                </div>
                <!--Box 5-->
                <div class="relative p-10 rounded-xl h-64 bg-cyan-500 shadow-2xl md:col-span-1 transition duration-300 ease-out hover:scale-105">
                    <div class="flex z-10 space-x-4">
                        <h1 class="text-2xl">PacketLoss (%)</h1>
                    </div>
                    <p class="mt-6 text-xl">
                        Max: {{ maxValues[3] }}
                    </p>
                    <p class="text-xl">
                        Min: {{ minValues[3] }}
                    </p>
                    <p class="absolute bottom-0 right-0 md:translate-y-4 md:translate-x-4 text-black text-6xl bg-gray-100 rounded-xl">
                        {{ averages[3] }}
                    </p>
                </div>
            </section>
            <!-- Charts -->
            <section class="grid gap-6 grid-cols-1 text-white mt-10 md:grid-cols-4 md:grid-rows-1">
                <div class="flex flex-col items-center justify-center bg-white rounded-xl transition duration-300 ease-out hover:ease-in hover:bg-gray-100 md:col-span-3 shadow-2xl">
                    <h2 class="text-2xl text-black pt-20">Mb Downloaded & Uploaded</h2>
                    <div id="downloads_chart" class="h-full w-full"></div>
                </div>
                <div class="flex flex-col items-center justify-center bg-white h-auto rounded-xl transition duration-300 ease-out hover:ease-in hover:bg-gray-100 md:col-span-1 shadow-2xl flex items-center justify-center">
                    <h2 class="text-2xl text-black pt-20">Service Providers</h2>
                    <div id="isp_chart" class="h-[600px]"></div>
                </div>
            </section>
            <a href="/charts">
                <div class="rounded-full mt-5 bg-gray-500 inline-block px-4 py-2 shadow-lg hover:cursor-pointer hover:bg-gray-100 transition duration-300 ease-out hover:ease-in hover:text-black">Discover More Charts</div>
            </a>
            <!-- Table -->
            <section class="flex flex-col bg-white mt-10 p-2 m-2 space-y-10 shadow-2xl rounded-3xl md:p-15">
                <table class="table-auto">
                    <thead>
                    <tr>
                        <th class="py-2 px-2 border-b">Timestamp</th>
                        <th class="py-2 px-2 border-b hidden sm:table-cell">Download BandWidth (Mb/s)</th>
                        <th class="py-2 px-2 border-b">Download (Mb)</th>
                        <th class="py-2 px-2 border-b hidden sm:table-cell">Upload BandWidth (Mb/s)</th>
                        <th class="py-2 px-2 border-b">Upload (Mb)</th>
                        <th class="py-2 px-2 border-b">More Info</th>
                    </tr>
                    </thead>
                    <tbody class="m-4">
                    {% for row in data %}
                        <tr class="hover:bg-gray-100">
                            <td class="py-2 px-2 border-b text-center">{{ row.timestamp }}</td>
                            <td class="py-2 px-2 border-b text-center hidden sm:table-cell">{{ row.download_bandwidth }}</td>
                            <td class="py-2 px-2 border-b text-center">{{ row.download_bytes }}</td>
                            <td class="py-2 px-2 border-b text-center hidden sm:table-cell">{{ row.upload_bandwidth }}</td>
                            <td class="py-2 px-2 border-b text-center">{{ row.upload_bytes }}</td>
                            <td class="py-2 px-2 border-b text-center hover:cursor-pointer hover:bg-red-600 hover:text-white transition duration-300 ease-out hover:ease-in"><a href="/data/{{ row.id }}">Load more</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </main>
    </body>
{% endblock %}
