{% block head %}
    {% include 'home/head.html.twig' %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load both corechart and geochart packages
        google.charts.load('current', {'packages':['corechart', 'geochart']});

        // Set the callback to draw both charts
        google.charts.setOnLoadCallback(function() {
            drawChart();
            drawRegionsMap();
            drawBandwidthChart();
            pingLatencyChart();
        });

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['timestamp', 'download_bytes', 'upload_bytes'],
                {% for rows in chartData %}
                ['{{ rows.timestamp }}', {{ rows.download_bytes }}, {{ rows.upload_bytes }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Download & Upload Mb per run',
                curveType: 'function',
                legend: { position: 'right' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('downloads_chart'));
            chart.draw(data, options);
        }

        function drawBandwidthChart() {
            var data = google.visualization.arrayToDataTable([
                ['timestamp', 'download_bandwidth', 'upload_bandwidth'],
                {% for rows in chartData %}
                ['{{ rows.timestamp }}', {{ rows.download_bandwidth }}, {{ rows.upload_bandwidth }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Download & Upload Bandwidth over Time',
                curveType: 'function',
                legend: { position: 'right' },
                hAxis: { title: 'Timestamp' },
                vAxis: { title: 'Bandwidth (Mb/s)' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('bandwidth_chart'));
            chart.draw(data, options);
        }

        function pingLatencyChart() {
            var data = google.visualization.arrayToDataTable([
                ['timestamp', 'ping_latency', 'ping_low', 'ping_high'],
                {% for rows in chartData %}
                ['{{ rows.timestamp }}', {{ rows.ping_latency }}, {{ rows.ping_low }}, {{ rows.ping_high }}],
                {% endfor %}
            ]);

            var options = {
                isStacked: true,
                height: 600,
                title: 'Ping Latency over Time',
                curveType: 'function',
                legend: { position: 'right' },
                vAxis: { title: 'Latency (ms)' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('ping_latency_chart'));
            chart.draw(data, options);
        }


        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['Country', 'Popularity'],
                {% for rows in countryData %}
                ['{{ rows.server_country }}', {{ rows.number_of_occurrences }}],
                {% endfor %}
            ]);

            var options = {};
            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}

{% block body %}
    <main class="font-mono">
        <h2 class="bg-red-600 text-center">Charts are currently under development</h2>
        <div class="container mx-auto max-w-8xl mb-20 md:p-10">
            <section class="flex flex-col bg-white p-2 m-2 space-y-10 shadow-2xl rounded-3xl md:p-15" id="downloads_chart" style="width: 100%; height: 600px;"></section>
            <section class="flex flex-col bg-white mt-20 p-2 m-2 space-y-10 shadow-2xl rounded-3xl md:p-15" id="bandwidth_chart" style="width: 100%; height: 600px;"></section>
            <section class="flex flex-col bg-white p-2 mt-10 m-2 space-y-10 shadow-2xl rounded-3xl md:p-15" id="regions_div" style="width: 100%;; height: 600px;"></section>
            <section class="flex flex-col bg-white p-2 mt-10 m-2 space-y-10 shadow-2xl rounded-3xl md:p-15" id="ping_latency_chart" style="width: 100%;; height: 650px;"></section>
        </div>
    </main>
{% endblock %}
